<h1>My First Web app</h1>

<ul>
    <li><a href='/lotto' alt = 'lotto'>lotto</a></li>
    <li><a href='/stock' alt = 'stock'>stock</a></li>
    <li><a href='/forecast' alt = 'forecast'>forecast</a></li>
</ul>

<plaintext/> <%= @output %>